.head-pict{
    max-height: 50vh;
    object-fit: cover;
}

.d-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vw;
    p{
        margin-bottom: 5px;
    }
}

.product-bloc{
    transition: all .3s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
    &:hover{
        background-color: #f2f2f2;
    }
}

.rotate {
    animation: rotation 8s infinite ease-in-out;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }