<div class="container-perso m-4">
    <a class="item" href="server/listeproduit?listId=1">
      <img src="../assets/img/HP3_v4_105107.jpg" alt="">
    </a>
    <div class="item" [routerLink]="['/server/listeproduit']" [queryParams]="{listId: '1'}" >
      <img src="../assets/img/HP3_v4_105421.jpg" alt="">
    </div>
    <div class="item" [routerLink]="['/server/listeproduit']" [queryParams]="{listId: '2'}">
      <img src="../assets/img/HP3_v4_105466.jpg" alt="">
    </div>
    <div class="item item_1per2" [routerLink]="['/server/listeproduit']" [queryParams]="{listId: '1'}">
      <img src="../assets/img/products_24322148_image1_original.jpg" alt="">
    </div>
    <div class="item" routerLink="/client/listeproduitclient">
      <img src="../assets/img/HP3_v4_105537.jpg" alt="">
    </div>
    <div class="item" [routerLink]="['/client/listeproduitclient']" [queryParams]="{listId: '1'}">
      <img src="../assets/img/HP3_v4_105690.jpg" alt="">
    </div>
    <div class="item"  [routerLink]="['/client/listeproduit']" [queryParams]="{listId: '1'}">
      <img src="../assets/img/HP3_v4_105708.jpg" alt="">
    </div>
    <div class="item" routerLink="/listeproduit">
      <img src="../assets/img/HP3_v4_105756.jpg" alt="">
    </div>
    <div class="item" routerLink="/listeproduit">
      <img src="../assets/img/HP3_v4_105466.jpg" alt="">
    </div>
    <div class="item" routerLink="/listeproduit">
      <img src="../assets/img/HP3_v4_105107.jpg" alt="">
    </div>
    <div class="item" routerLink="/listeproduit">
      <img src="../assets/img/HP3_v4_105421.jpg" alt="">
    </div>
  </div>
